In [1]:
# # dictionary
# Indexing
# Multiple and duplicate data or values
# Ordered
# Mutable

In [2]:
d = dict()
d = {}
print(type(d))

<class 'dict'>

In [ ]:
# d = {<key>:<value>}

In [5]:
d = {'a':'Apple','b':'Ball'}
print(d['a'])
print(d['b'])
print(d)

Apple
Ball
{'a': 'Apple', 'b': 'Ball'}

In [6]:
# + *
a = {1:1,2:4,3:9,4:16}
b = {'a':'Apple','b':'Ball'}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
a*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [8]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['a'] = 'Ant'
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [11]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    a[name] = phone
    
print(a)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  9808556543

{'Ram': 9808778765, 'Shyam': 9808556543}

In [14]:
a['Ram']

9808778765

In [15]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
for i in a:
    print(i)

Ram
Shyam
Hari

In [16]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
for i in a.values():
    print(i)

9808778765
9808556543
9808778765

In [17]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
for i in a.items():
    print(i)

('Ram', 9808778765)
('Shyam', 9808556543)
('Hari', 9808778765)

In [21]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
a['Rama'] = 9867887654
a

{'Ram': 9808778765,
 'Shyam': 9808556543,
 'Hari': 9808778765,
 'Rama': 9867887654}

In [24]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
b = {'Sita':980856547,'Nabin':9867667654}
a.update(b)
a

{'Ram': 9808778765,
 'Shyam': 9808556543,
 'Hari': 9808778765,
 'Sita': 980856547,
 'Nabin': 9867667654}

In [25]:
# delete in dict 
# del pop

In [26]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
del a['Ram']
a

{'Shyam': 9808556543, 'Hari': 9808778765}

In [27]:
a = {'Ram': 9808778765, 'Shyam': 9808556543,'Hari':9808778765}
b = a.pop('Ram')
print(b)
print(a)

9808778765
{'Shyam': 9808556543, 'Hari': 9808778765}

In [28]:
# list inside dict
a = {'Ram': [9808778765,9867556543], 'Shyam': [9808556543,9808667654],'Hari':[9808778765,9808778765]}
a['Ram']

[9808778765, 9867556543]

In [29]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,34],
    'add':["Kathmandu","Bhaktapur","Lalitpur"]}
a

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [23, 56, 34],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [31]:
#a = {'Ram': [9808778765,9867556543], 'Shyam': [9808556543,9808667654],'Hari':[9808778765,9808778765]}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no "))
    a[name] = [ntc,ncell]

print(a)

Enter n =  2
Enter name =  Ram
Enter ntc no =  9808778765
Enter ncell no  9807897897
Enter name =  Shyam
Enter ntc no =  9867667654
Enter ncell no  9808778765

{'Ram': [9808778765, 9807897897], 'Shyam': [9867667654, 9808778765]}

In [35]:
a = {'Ram': [9808778765, 9807897897], 'Shyam': [9867667654, 9808778765]}
a['Ram'].append("9808000000")
a

{'Ram': [9808778765, 9807897897, '9808000000'],
 'Shyam': [9867667654, 9808778765]}

In [37]:
a = {'Ram': [9808778765, 9807897897], 'Shyam': [9867667654, 9808778765]}
a['Ram'] = [9808778765, 9807897897,9808000000]
a

{'Ram': [9808778765, 9807897897, 9808000000],
 'Shyam': [9867667654, 9808778765]}

In [39]:
# a = {'name':['Ram','Shyam','Hari'],
#     'age':[23,56,34],
#     'add':["Kathmandu","Bhaktapur","Lalitpur"]}
a = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age no = "))
    add = input("Enter add no ")
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)

print(a)

Enter n =  2
Enter name =  Ram
Enter age no =  34
Enter add no  Kathmandu
Enter name =  Shyam
Enter age no =  23
Enter add no  Bhaktapur

{'name': ['Ram', 'Shyam'], 'age': [34, 23], 'add': ['Kathmandu', 'Bhaktapur']}

In [43]:
a = {'name': ['Ram', 'Shyam'], 'age': [34, 23], 'add': ['Kathmandu', 'Bhaktapur']}
print("Name = ",a['name'][0])
print("Name = ",a['age'][0])
print("Name = ",a['add'][0])

Name =  Ram
Name =  34
Name =  Kathmandu

In [44]:
a = {'name': ['Ram', 'Shyam'], 'age': [34, 23], 'add': ['Kathmandu', 'Bhaktapur']}
a['age'][0] = 33
a

{'name': ['Ram', 'Shyam'], 'age': [33, 23], 'add': ['Kathmandu', 'Bhaktapur']}

In [46]:
a = {'name': ['Ram', 'Shyam'], 'age': [34, 23], 'add': ['Kathmandu', 'Bhaktapur']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
a

{'name': ['Shyam'], 'age': [23], 'add': ['Bhaktapur']}

In [57]:
a = {'name': ['Ram', 'Shyam'], 'age': [34, 23], 'add': ['Kathmandu', 'Bhaktapur']}
k = list(a.keys())
print(k)
index = int(input("Enter index = "))
for i in a:
    del a[i][index]

print(a)

['name', 'age', 'add']

Enter index =  1

{'name': ['Ram'], 'age': [34], 'add': ['Kathmandu']}

In [58]:
a = {'name': ['Ram', 'Shyam'], 'age': ['34', '23'], 'add': ['Kathmandu', 'Bhaktapur']}

index = int(input("Enter index = "))
for i in a:
    x = input(f"Enter {i}")
    a[i][index] = x

print(a)

Enter index =  0
Enter name Rama
Enter age 20
Enter add Jhapa

{'name': ['Rama', 'Shyam'], 'age': ['20', 23], 'add': ['Jhapa', 'Bhaktapur']}

In [1]:
# dict inside list
l = [{'name':'Ram','age':23,'add':'Kathmandu'},
    {'name':'Shyam','age':43,'add':'Bhaktapur'},
    {'name':'Hari','age':33,'add':'Lalitpur'}]
l

[{'name': 'Ram', 'age': 23, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 43, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 33, 'add': 'Lalitpur'}]

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)

print(l)

In [2]:
# WAP to update delete read to the program

In [ ]:
# dict inside dict
d = {1:{'name':"Ram",'age':34,"add":"Kathmandu"},
    2: {'name':'Shyam','age':43,'add':'Bhaktapur'},
    3:{'name':'Hari','age':33,'add':'Lalitpur'}}

In [ ]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info[i] = {'name':name,'age':age,'add':add}

print(info)

In [ ]:
# WAP to add update delete read to the program