In [1]:
# file = open('<file_name>','mode')

# with open('<file_name>','<mode>') as file:
#     <operations>

In [3]:
# mode
# r -> read
# x -> create
# w -> write
# a -> append

In [4]:
#create file
file = open('data.txt','x')
file.close()

In [5]:
#read file
file = open('data.txt','r')
content = file.read()
print(content)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [9]:
a = "apple_ball_cat"
a.split("_")

['apple', 'ball', 'cat']

In [10]:
content

'1. Hello World\n2. Hello World\n3. Hello World\n4. Hello World\n5. Hello World'

In [12]:
lines = content.split('\n')
lines

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [13]:
line_no = int(input("Enter line no = "))
lines[line_no-1]

Enter line no =  1

'1. Hello World'

In [14]:
#write on file
file = open('data1.txt','w')
file.write('Hello World')
file.close()

In [15]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n =  2
Enter name =  Apple
Enter price =  300
Enter quantity =  2
Enter name =  Banana
Enter price =  100
Enter quantity =  4

In [16]:
file = open('bill.txt','r')
content = file.read()
print(content)
file.close()

Apple 300 2 600
Banana 100 4 400

In [28]:
data = content.split('\n')[:-1]
data

['Apple 300 2 600', 'Banana 100 4 400']

In [35]:
list_bill =[] 
for i in data:
    x = i.split()
    x[1] = int(x[1])
    x[2] = int(x[2])
    x[3] = int(x[3])
    list_bill.append(x)
list_bill

[['Apple', 300, 2, 600], ['Banana', 100, 4, 400]]

In [37]:
del list_bill[1]

In [38]:
list_bill

[['Apple', 300, 2, 600]]

In [40]:
a = [['Ram',45,'Kathmandu'],
     ['Shyam',56,'Bhaktapur']]

In [42]:
#writing list into file
import csv
file = open('info.txt','w')
x = csv.writer(file)
x.writerows(a)
file.close()

In [43]:
#Append mode in file

In [49]:
file = open('append_bill.txt','a')
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = info + f"{name} {age} {add}\n"
file.write(info)
file.close()

Enter n =  2
Enter name =  Akash
Enter age =  78
Enter add =  Kathmandu
Enter name =  Alish
Enter age =  67
Enter add =  Kathmandu