In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# list
# multiple and duplicate data
# indexing
# Ordered
# mutable

In [3]:
a = list()
b = []

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [0,1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))
print(a)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [7]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [9]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
#append() insert() extend()

In [12]:
a = []
a.append("Apple")
a.append("Ball")
print(a)

['Apple', 'Ball']

In [13]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)

print(l)

Enter n =  10
Enter x =  34
Enter x =  56
Enter x =  76
Enter x =  34
Enter x =  90
Enter x =  87
Enter x =  11
Enter x =  45
Enter x =  34
Enter x =  87

[34, 56, 76, 34, 90, 87, 11, 45, 34, 87]

In [17]:
print("Min value = ",min(l))
print("Max value = ",max(l))
print("Sum value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value =  11
Max value =  90
Sum value =  554
[11, 34, 34, 34, 45, 56, 76, 87, 87, 90]
[90, 87, 87, 76, 56, 45, 34, 34, 34, 11]

In [18]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)

Enter n =  5
Enter x =  Ram
Enter x =  Shyam
Enter x =  Hari
Enter x =  Sita
Enter x =  Gita

In [19]:
print(l)

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [20]:
l.sort()
print(l)

['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']

In [21]:
# insert()
a = ['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']
a.insert(1,"Harry")
a

['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']

In [22]:
a = ['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Gita', 'Hari', 'Ram', 'Shyam', 'Sita', 1, 2, 3, 4, 5]

In [24]:
# update
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
a[0] = 'Nita'
a

['Nita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']

In [35]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
a[0:2] = ['Jack','John']
a

['Jack', 'John', 'Hari', 'Ram', 'Shyam', 'Sita']

In [36]:
# insert multiple values inside certain index
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
a[1:1] = ["Steave","Bill","nabin"]
a

['Gita', 'Steave', 'Bill', 'nabin', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']

In [38]:
#for delete del remove() pop()
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
del a[0]
print(a)

['Harry', 'Hari', 'Ram', 'Shyam', 'Sita']

In [39]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
del a[0:2]
a

['Hari', 'Ram', 'Shyam', 'Sita']

In [40]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
a.remove('Gita')
a

['Harry', 'Hari', 'Ram', 'Shyam', 'Sita']

In [41]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
a.pop()
a

['Gita', 'Harry', 'Hari', 'Ram', 'Shyam']

In [43]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
b = a.pop(1)
print(a)
print(b)

['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']
Harry

In [44]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
for i in a:
    print(i)

Gita
Harry
Hari
Ram
Shyam
Sita

In [45]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
l = len(a)
l

6

In [46]:
i = 0
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita']
l = len(a)
while i<l:
    print(a[i])
    i = i+1

Gita
Harry
Hari
Ram
Shyam
Sita

In [50]:
#removing multiple values
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita',"Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")
print(a)

['Gita', 'Harry', 'Hari', 'Shyam', 'Sita']

In [52]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita',"Ram"]
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Yes 2

In [53]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita',"Ram"]
a.index("Ram")

3

In [1]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita',"Ram"]
l = len(a)
for i in range(l):
    if a[i] == 'Ram':
        print(i)

3
6

In [59]:
a = ['Gita', 'Harry', 'Hari', 'Ram', 'Shyam', 'Sita',"ram"]
name = input("Enter Name = ")
l = len(a)
for i in range(l):
    if a[i].lower() == name.lower():
        print(i)

Enter Name =  RAM

3
6

In [ ]:
# nested list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

In [5]:
info = [['Ram',34,"Kathmandu"],
       ['Shyam',67,"Lalitpur"],
       ['Hari',56,"Lalitpur"]]
print(info)
print(len(info))

[['Ram', 34, 'Kathmandu'], ['Shyam', 67, 'Lalitpur'], ['Hari', 56, 'Lalitpur']]
3

In [3]:
info[0]

['Ram', 34, 'Kathmandu']

In [9]:
info[0][0]

'Ram'

In [10]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    x = [name,age,add]
    info.append(x)
print(info)

Enter n =  2
Enter name =  Ram
Enter age =  34
Enter address =  Kathmandu
Enter name =  Shyam
Enter age =  89
Enter address =  Lalitpur

[['Ram', 34, 'Kathmandu'], ['Shyam', 89, 'Lalitpur']]

In [11]:
info.append(['Hari',34,'Bhaktapur'])

In [12]:
info

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 89, 'Lalitpur'],
 ['Hari', 34, 'Bhaktapur']]

In [15]:
# update
info[0] = ['Rama',35,'Dhading']
info

[['Rama', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]

In [17]:
# update
info[0][0] = 'Ram'
info

[['Ram', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]

In [19]:
# delete
a = [['Rama', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]
del a[0]
a

[['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]

In [22]:
a = [['Rama', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]
b = a.pop(0)
print(a)
print(b)

[['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]
['Rama', 35, 'Dhading']

In [26]:
# Search in list inside list
a = [['Ram', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name =  Bhaktapur

['Hari', 34, 'Bhaktapur']

In [30]:
# Search in list inside list
a = [['Ram', 35, 'Dhading'], ['Shyam', 89, 'Lalitpur'], ['Hari', 34, 'Bhaktapur'],['Ram', 35, 'Dhading']]
name = input("Enter name = ")
l = len(a)
for i in range(l):
    if name in a[i]:
        print(i)

Enter name =  Ram

0
3

In [31]:
# r -> ?
# c -> ?
# x => ?
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

In [33]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))

for i in range(r):
    y = []
    for j in range(c):
        x =input("Enter x = ")
        y.append(x)
    m.append(y)

print(m)

Enter r =  2
Enter c =  3
Enter x =  Ram
Enter x =  34
Enter x =  Kathmandu
Enter x =  Shyam
Enter x =  45
Enter x =  Bhaktapur

[['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Bhaktapur']]