In [1]:
# for loop
# while loop

In [ ]:
# range # creates sequences of no
# range(5) #0 1 2 3 4
# range(1,5) # 1,2,3,4
# range(1,5,2) # 1 3

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,5,2):
    print(i)

1
3

In [7]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [9]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",i*x)

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
abc = 0  #int()
for i in range(5):
    x = int(input("Enter x = "))
    abc = abc + x

print(abc)

Enter x =  1000

1000

Enter x =  2000

3000

Enter x =  4000

7000

Enter x =  6000

13000

Enter x =  3000

16000

In [1]:
abc = "" #str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    abc = abc + x + "\n"

print(abc)

Enter n =  2
Enter x =  RAm
Enter x =  Shyam

RAm
Shyam

In [4]:
contact = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    contact = contact + name + " " + str(phone) + "\n"

print(contact)

Enter n =  2
Enter name =  Ram
Enter phone =  9808778765
Enter name =  Shyam
Enter phone =  98765432

Ram 9808778765
Shyam 98765432

In [5]:
#5! = 1*2*3*4*5

In [10]:
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac * i

    print(fac)

Enter n =  5

1
2
6
24
120

In [12]:
for i in range(10):
    print(i * 'o')

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [33]:
n = 10
for i in range(10):
    print((n-i)*" ",2*(i * 'o'))
for i in range(5):
    print(7*" ",5*"o")

          oo
         oooo
        oooooo
       oooooooo
      oooooooooo
     oooooooooooo
    oooooooooooooo
   oooooooooooooooo
  oooooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo

In [34]:
# WAP to make a billing system
# name = ?
# price = ?
# quantity = ?
# total = ?

# Coke 100 3 300
# Momo 150 4 600

In [1]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    bill = bill + name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter n =  2
Enter name =  Coke
Enter price =  100
Enter quantity =  2
Enter name =  Momo
Enter price =  200
Enter quantity =  3

Coke 100 2 200
Momo 200 3 600

In [2]:
a = "Hello World"
for i in a:
    print(i,"Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World
  Hello World
W Hello World
o Hello World
r Hello World
l Hello World
d Hello World

In [5]:
a = "Hello World. I am python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am python

In [7]:
a = "Hello World. I am python!"
for i in a:
    if i != "." and i != "!":
        print(i,end = "")

Hello World I am python!

In [ ]:
# control statement
# break
# continue
# pass

In [10]:
# break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
a = "Hello World. I am python."
for i in a:
    if i != ".":
        print(i,end = "")
    else:
        break

Hello World

In [2]:
a = "Hello World. I am python."
for i in a:
    if i == ".":
        break
    print(i,end = "")

Hello World

In [4]:
#continue
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [7]:
for i in range(1,51):
    if i%5 != 0:
        continue
    print(i, end = " ")

5 10 15 20 25 30 35 40 45 50

In [8]:
a = "Hello World. I am python."
for i in a:
    if i == ".":
        continue
    print(i,end = "")

Hello World I am python

In [11]:
# pass
for i in range(5):
    pass

In [12]:
a = 10
if a %2 ==0:
    pass

In [13]:
# While loop

In [14]:
# while <condition>:
#     <operation>

In [4]:
a = 0
while a < 5:
    print(a,"Hello World")
    a = a + 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
a = 1
while a < 5:
    print(a,"Hello World")
    a = a + 1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
a = 1
while a < 5:
    print(a,"Hello World")
    a = a + 0.5

1 Hello World
1.5 Hello World
2.0 Hello World
2.5 Hello World
3.0 Hello World
3.5 Hello World
4.0 Hello World
4.5 Hello World

In [7]:
i = 1
x = int(input("Enter x = "))
while i<=10:
    print(x,"*",i,"=",i*x)
    i = i+1

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac * i
    i = i+1

print(fac)

Enter n =  5

120

In [ ]:
i = 0
bill = ""
all_total = 0
n = int(input("Enter n = "))
while i <=n:
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    bill = bill + name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    all_total = all_total + total
    i = i+1
    
print(bill)
print(all_total)

In [11]:
# break in while

In [12]:
# break
i = 0
while i<=10:
    if i == 5:
        break
    print(i)
    i = i +1

0
1
2
3
4

In [4]:
# break
i = 0
while i<=10:
    if i == 5:
        i = i + 1
        continue
        
    print(i,end = " ")
    i = i +1

0 1 2 3 4 6 7 8 9 10

In [ ]:
# WAP to find if the given no is prime or composite